<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>REST API</h1>
    <p>
      登录 - POST http://localhost:3000/account/login <br>
      数据格式 {username:string, password:string}<br>
    </p>
    <form method="post" action="http://localhost:3000/account/login">
      <lable for='username'>用户名</lable>
      <input type='text' name='username' />
      <label for='password'>密码</label>
      <input type="password" name="password">
      <input type='submit'></input>
    </form>

    <p>
      注册 - POST http://localhost:3000/account/regist<br>
      数据格式 {username:string, password:string, email:string, moblie:string}<br>
    </p>
    <form method="post" action="http://localhost:3000/account/regist">
      <lable for='username'>用户名</lable>
      <input type='text' name='username' />
      <label for='password'>密码</label>
      <input type="password" name="password">
      <lable for='email'>邮箱</lable>
      <input type='text' name='email' />
      <label for='mobile'>手机</label>
      <input type="text" name="mobile">
      <input type='submit'></input>
    </form>

    <p>
      查询用户信息 - POST http://localhost:3000/account/info<br>
      数据格式 {uid:string, token:string}<br>
    </p>
    <lable for='uid'>用户ID</lable>
    <input type='text' name='uid' id='i_uid' />
    <lable for='token'>token</lable>
    <input type='text' name='token' id='i_token' />
    <button name='submit' onclick='loadXMLDocI()'>提交</button>
    <div id='myDiv5'></div>

    <p>
      查询用户名 - POST http://localhost:3000/account/check<br>
      数据格式 {username:string}<br>
    </p>
    <form method="post" action="http://localhost:3000/account/check">
      <lable for='username'>用户名</lable>
      <input type='text' name='username' />
      <input type='submit'></input>
    </form>

    <p>
      更新 - POST http://localhost:3000/account/update<br>
      数据格式 {_id:string....}<br>
    </p>
      <p>执行更新的用户：</p>
      <lable for='_id'>_id</lable>
      <input type='text' id='a_id' />
      <lable for='token'>token</lable>
      <input type='text' id='atoken' />
      <p>被更新的用户：</p>
      <lable for='_id'>_id</lable>
      <input type='text' id='_id' />
      <lable for='token'>token</lable>
      <input type='text' id='token' />
      <lable for='nickName'>昵称</lable>
      <input type='text' id='nickName' />
      <lable for='name'>名字</lable>
      <input type='text' id='name' />
      <lable for='orgnization'>组织(*请先创建组织)</lable>
      <input type='text' id='orgnization' />
      <lable for='province'>省份</lable>
      <input type='text' id='province' />
      <lable for='address'>地址</lable>
      <input type='text' id='address' />
      <lable for='mobile'>手机</lable>
      <input type='text' id='mobile' />
      <lable for='telephone'>座机</lable>
      <input type='text' id='telephone' />
      <lable for='email'>邮箱</lable>
      <input type='text' id='email' />
      <label for='password'>密码</label>
      <input type="password" id="password">
      <button onclick='loadXMLDocA()'>递交</button>
   <p>执行结果：</p><br>
   <div id='myDiv'></div>

   <p>
     创建问卷 - POST http://localhost:3000/paper/create<br>
   </p>
   <form method='post' action='http://localhost:3000/paper/create' enctype='multipart/form-data'>
     <lable for='uid'>用户id</lable>
     <input type='text' name='uid' /><br>
     <lable for='token'>用户token</lable>
     <input type='text' name='token' /><br>
     <lable for='oid'>隶属组织_id</lable>
     <input type='text' name='oid' /><br>
     <input type='file' name='file' /><br>
     <input type='submit'></input>
   </form>

   <p>
     查看问卷详情 - POST http://localhost:3000/paper/view<br>
   </p>
     <lable for='uid'>用户id</lable>
     <input type='text' name='uid' id='v_uid' /><br>
     <lable for='token'>用户token</lable>
     <input type='text' name='token' id='v_token' /><br>
     <lable for='oid'>隶属组织_id</lable>
     <input type='text' name='oid' id='v_oid' /><br>
     <lable for='oid'>问卷_id</lable>
     <input type='text' name='pid' id='v_pid' /><br>
     <button name='submit' onclick='loadXMLDocB()'>递交</button>
     <p>执行结果：</p><br>
     <div id='myDiv1'></div>

     <p>
       列出问卷 - POST http://localhost:3000/paper/list<br>
     </p>
     <lable for='uid'>用户id</lable>
     <input type='text' name='uid' id='l_uid' /><br>
     <lable for='token'>用户token</lable>
     <input type='text' name='token' id='l_token' /><br>
     <lable for='oid'>隶属组织_id</lable>
     <input type='text' name='oid' id='l_oid' /><br>
     <button onclick='loadXMLDocL()'>提交</button>
     <div id='myDiv4'></div>

     <p>
       调问卷数据 - GET http://localhost:3000/paper/{pid}<br>
     </p>
     <lable for='oid'>问卷id</lable>
     <input type='text' name='pid' id='_pid' /><br>
     <button name='submit' onclick='loadXMLDocC()'>递交</button>
     <div id='myDiv2'></div>

     <p>
       做调查卷 - Post http://localhost:3000/paper/{pid}<br>
     </p>
     <lable for='pid'>问题id</lable>
     <input type='text' name='pid' id='d_qid' /><br>
     <lable for='cid'>微信用户id</lable>
     <input type='text' name='cid' id='d_cid' /><br>
     <lable for='answer'>答案</lable>
     <input type='text' name='answer' id='d_answer' /><br>
     <lable for='timeTickes'>做题时间</lable>
     <input type='text' name='timeTickes' id='d_timeTickes' /><br>
     <button name='submit' onclick='loadXMLDocD()'>递交</button>
     <div id='myDiv3'></div>

<script>
  function loadXMLDocI(){
    var update = {
      uid: document.getElementById('i_uid').value,
      token: document.getElementById('i_token').value
    };
    var xmlhttp;
    if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
      document.getElementById("myDiv5").innerHTML=xmlhttp.responseText;
    }
    xmlhttp.open("POST","http://localhost:3000/account/info",true);
    xmlhttp.send(JSON.stringify(update));
  }

  function loadXMLDocL(){
    var update = {
      uid: document.getElementById('l_uid').value,
      token: document.getElementById('l_token').value,
      oid: document.getElementById('l_oid').value
    };
    var xmlhttp;
    if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
      document.getElementById("myDiv4").innerHTML=xmlhttp.responseText;
    }
    xmlhttp.open("POST","http://localhost:3000/paper/list",true);
    xmlhttp.send(JSON.stringify(update));
  }

  function loadXMLDocD(){
    var update = {
      qid: document.getElementById('d_qid').value,
      cid: document.getElementById('d_cid').value,
      answer: document.getElementById('d_answer').value,
      timeTickes: document.getElementById('d_timeTickes').value,
      date: new Date()
    };
    var xmlhttp;
    if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
      document.getElementById("myDiv3").innerHTML=xmlhttp.responseText;
    }
    xmlhttp.open("POST","http://localhost:3000/paper",true);
    xmlhttp.send(JSON.stringify(update));
  }

  function loadXMLDocC(){
    var xmlhttp;
    if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
      document.getElementById("myDiv2").innerHTML=xmlhttp.responseText;
    }
    xmlhttp.open("GET","http://localhost:3000/paper/" + document.getElementById('_pid').value,true);
    xmlhttp.send();
  }

  function loadXMLDocB(){
    var update = {
      uid:document.getElementById('v_uid').value,
      token:document.getElementById('v_token').value,
      oid:document.getElementById('v_oid').value
    }
    var xmlhttp;
    if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function() {
      document.getElementById("myDiv1").innerHTML=xmlhttp.responseText;
    }
    xmlhttp.open("POST","http://localhost:3000/paper/view/" + document.getElementById('v_pid').value,true);
    xmlhttp.send(JSON.stringify(update));
  }

  function loadXMLDocA()
  {
    var update = {
      executor:{
        _id:document.getElementById('a_id').value,
        token:document.getElementById('atoken').value
      },
      update:{
        _id:document.getElementById('_id').value,
        token:document.getElementById('token').value,
        nickName:document.getElementById('nickName').value,
        name:document.getElementById('name').value,
        orgnization:document.getElementById('orgnization').value,
        province:document.getElementById('province').value,
        address:document.getElementById('address').value,
        mobile:document.getElementById('mobile').value,
        telephone:document.getElementById('telephone').value,
        email:document.getElementById('email').value,
        password:document.getElementById('password').value
      }
    }

  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  xmlhttp.onreadystatechange=function()
    {
      document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
  xmlhttp.open("POST","http://localhost:3000/account/update",true);
  xmlhttp.send(JSON.stringify(update));
  }
</script>
  </body>
</html>
